    <template>
      <v-container fluid v-if="mobile">
        <v-row>
          <v-col class="p-0">
            <Map marker="true" v-if="step == 1"/>
            <AddPlaceDescription v-else/>
          </v-col>
        </v-row>
        <Footer />
      </v-container>

      <v-container fluid v-else>
        <v-row>
          <v-col class="px-0">
            <Map class_attr="w-50" marker="true" />
          </v-col>
          <v-col>
            <AddPlaceDescription />
          </v-col>
        </v-row>
        <Footer />
      </v-container>
    </template>


<script>
export default {
  middleware: 'unauthorized',
  computed: {
    mobile() {
      if (this.$vuetify.breakpoint.mobile === true) {
        return true;
      } else {
        return false;
      }
    },
    step () {
      return this.$store.getters['UI/addPlaceStepNumber']
    }
  },
  beforeCreate()  {
    this.$store.commit("UI/setAddPlaceStepNumber", 1);
  }
};
</script>
