<template>
  <v-col>
    <v-alert
      v-if="showMsg"
      border="left"
      :color="msgColor"
      outlined
      text
      type="error"
      >{{ msg }}</v-alert
    >
    <form action="">
      <v-textarea
        outlined
        name="place-description"
        label="Отзыв"
        v-model="review"
        :disabled="showMsg"
      ></v-textarea>

      <div class=".v-text-field--outlined">
        <label for="place-rating" class="v-label v-label--active theme--light"
          >Оцените место по 5 бальной шкале:
        </label>
        <div>
          <v-rating
            id="place-rating"
            color="deep-orange darken-3"
            background-color="deep-orange darken-3"
            hover
            length="5"
            size="30"
            value="1"
            v-model="rating"
          ></v-rating>
        </div>
      </div>

      <UploadImages
        @UploadedFiles="OnUploadedFiles"
        @SetUploadState="SetUploadingState"
      />

      <div class="mt-3">
        <v-btn @click="checkBeforeSendComment" :disabled="showMsg" v-if="!uploadingProcessWarning"> Отправить</v-btn>
        <!-- <v-btn @click="clearForm" :disabled='showMsg'>Очистить</v-btn> -->
      </div>

      <v-alert prominent type="warning" v-if="uploadingProcessWarning">
        <v-row align="center">
          <v-col class="grow">
            Одна или несколько фотографий находится в процессе загрузки, вы
            действительно хотите отправить комментарий бех них?
          </v-col>
          <v-col class="shrink">
            <v-btn color="error" class="mb-3" @click="sendComment">Отправить не дожидаясь</v-btn>
            <v-btn color="success" @click="uploadingProcessWarning = false">Подождать</v-btn>
          </v-col>
        </v-row>
      </v-alert>

    </form>
  </v-col>
</template>


<script>
import { FilePond } from "filepond";
export default {
  data() {
    return {
      review: "",
      showMsg: false,
      msgColor: "",
      msg: "",
      rating: 1,
      tmpUploadedFilesIds: null,
      uploadingState: null,
      uploadingProcessWarning: false
    };
  },
  methods: {
    clearForm() {
      // this.review = ''
      console.log(this.$refs);
    },
    checkBeforeSendComment() {
      if (this.uploadingState == false) {
        this.uploadingProcessWarning = true
      } else {
        this.sendComment()
      }
    },
    async sendComment() {
      await this.$axios
        .post("/api/comments/", this.commentData)
        .then((response) => {
          this.showMsg = true;
          this.msgColor = "green";
          this.msg =
            "Комментарий был успешно отправлен, большое Вам спасибо =)";
        })
        .catch(({ response }) => {
          try {
            let msg = response.data.non_field_errors[0];
            this.msg = msg;
          } catch (TypeError) {
            let msg = 'Internal Server Error';
            this.msg = msg;
          }
          this.showMsg = true;
          this.msgColor = "red";
          console.log(response);
        });
    },
    OnUploadedFiles(files) {
      this.tmpUploadedFilesIds = Array.from(files);
    },
    SetUploadingState(state) {
      this.uploadingState = state;
    },
  },
  computed: {
    commentData() {
      return {
        point_data: this.$store.getters["Map/getCurrentPlaceId"],
        user: this.$auth.user.id,
        comment: this.review,
        rating: this.rating,
        filepond: this.tmpUploadedFilesIds,
      };
    },
  },
  watch: {
    uploadingState (newState, oldState) {
      if (newState == true) {
        this.uploadingProcessWarning = false
      }
    }
  }
};
</script>