<template>
  <v-col>
    <v-alert
      v-if="showMsg"
      border="left"
      :color="msgColor"
      outlined
      text
      type="error"
      >{{ msg }} {{ countDown }}
    </v-alert>
    <form action="">
      <v-textarea
        outlined
        name="place-description"
        label="Описание"
        v-model="description"
        :disabled="showMsg"
      ></v-textarea>

      <UploadImages
        @UploadedFiles="OnUploadedFiles"
        @SetUploadState="SetUploadingState"
      />

      <div class=".v-text-field--outlined">
        <label for="place-rating" class="v-label v-label--active theme--light"
          >Оцените место по 5 бальной шкале:
        </label>
        <div>
          <v-rating
            id="place-rating"
            color="deep-orange darken-3"
            background-color="deep-orange darken-3"
            hover
            length="5"
            size="30"
            value="1"
            v-model="rating"
          ></v-rating>
        </div>
      </div>

      <div class="mt-3">
        <v-btn @click="sendPoint" :disabled="showMsg"> Отправить</v-btn>
        <!-- <v-btn @click="clearForm" :disabled='showMsg'>Очистить</v-btn> -->
      </div>
    </form>
  </v-col>
</template>


<script>
export default {
  data() {
    return {
      description: "",
      showMsg: false,
      msgColor: "",
      msg: "",
      countDown: 5,
      rating: 1,
      tmpUploadedFilesIds: null,
      uploadingState: null,
      uploadingProcessWarning: false
    };
  },
  methods: {
    clearForm() {
      this.description = "";
    },
    countDownTimer() {
      if (this.countDown > 0) {
        setTimeout(() => {
          this.countDown -= 1;
          this.countDownTimer();
        }, 1000);
      } else {
        this.$router.push("/");
      }
    },
    OnUploadedFiles(files) {
      this.tmpUploadedFilesIds = Array.from(files);
    },
    SetUploadingState(state) {
      this.uploadingState = state;
    },
    async sendPoint() {
      if (this.pointData.description.length == 0) {
          this.showMsg = true;
          this.msgColor = "yellow";
          this.msg =
            "Описание не заполнено.";
      } else {
        try {
          var res = await this.$axios.post("/api/spatial/", this.pointData);
          if (res.status == 200) {
            this.countDownTimer();
            this.showMsg = true;
            this.msgColor = "green";
            this.msg =
              "Место было успешно отправлено на модерацию, большое Вам спасибо =)";
          } else {
            this.showMsg = true;
            this.msgColor = "red";
            this.msg =
              "Во время отправления произошла ошибка, попробуйте ещё раз.";
          }
        } catch (err) {
          this.showMsg = true;
          this.msgColor = "green";
          this.msg = err;
        }
      }
    }
  },
  computed: {
    pointData() {
      return {
        lat: this.$store.state.Map.markerLatLng.lat,
        lng: this.$store.state.Map.markerLatLng.lng,
        description: this.description,
        rating: this.rating,
        filepond: this.tmpUploadedFilesIds,
      };
    },
  },
};
</script>