<template>
  <v-app-bar app flat color="white">
    <nuxt-link to="/">
      <v-img
        src="/route.png"
        max-height="32"
        max-width="32"
        class="mr-3"
      ></v-img>
    </nuxt-link>

    <nuxt-link to="/" id="app-bar-title">
      <v-app-bar-title nuxt to='/' v-if="!mobile" id="title" class="font-weight-medium mr-5">Где это место?</v-app-bar-title>
    </nuxt-link>

    <v-spacer />

    <!-- BEGIN Mobile place-detail control bar -->

    <v-icon large :color="arrowsColor" @click="addPlaceStep(1)" v-if="placeDetail && mobile && step2">mdi-arrow-left-bold</v-icon>
    
    <span class="mr-1" v-if="placeDetail && mobile && !step2">Место на карте</span>
    <span class="mr-1" v-if="placeDetail && mobile && step2">К описанию</span>

    <v-icon large :color="arrowsColor" @click="addPlaceStep(2)" v-if="placeDetail && mobile && !step2">mdi-arrow-right-bold</v-icon>

    <v-spacer v-if="placeDetail && mobile" />

    <!-- END Mobile place-detail control bar -->

    <!-- BEGIN Mobile addPlace control bar -->

    <v-icon large :color="arrowsColor" @click="addPlaceStep(1)" v-if="$auth.loggedIn && addPlace && mobile && step2">mdi-arrow-left-bold</v-icon>

    <span class="mr-1" v-if="$auth.loggedIn && addPlace && mobile && !step2">Укажите место</span>
    <span class="mr-1" v-if="$auth.loggedIn && addPlace && mobile && step2">Заполните форму</span>

    <v-icon large :color="arrowsColor" @click="addPlaceStep(2)" v-if="$auth.loggedIn && addPlace && mobile && !step2">mdi-arrow-right-bold</v-icon>

    <v-spacer v-if="$auth.loggedIn && addPlace && mobile" />

    <!-- END Mobile addPlace control bar -->

    <v-btn class="mr-1" text nuxt to="/add-place"  v-if="$auth.loggedIn && !addPlace && !mobile">
      <v-icon color="deep-orange darken-3" class="mr-1">mdi-map-marker-plus</v-icon>
      Добавить
    </v-btn>

    <v-btn icon nuxt to="/add-place" v-if="$auth.loggedIn && !addPlace && mobile">
      <v-icon color="deep-orange darken-3" class="mr-1">mdi-map-marker-plus</v-icon>
    </v-btn>

    <v-btn class="mr-1" text nuxt to="/login" v-if="!$auth.loggedIn && !mobile">
      <v-icon color="deep-orange darken-3" class="mr-1">mdi-login</v-icon>
      Войти
    </v-btn>

    <v-btn icon nuxt to="/login" v-else-if="!$auth.loggedIn && mobile">
      <v-icon color="deep-orange darken-3" class="mr-1">mdi-login</v-icon>
    </v-btn>

    <v-btn class="mr-1" text @click="$auth.logout()" v-else-if="$auth.loggedIn && !mobile">
      <v-icon color="deep-orange darken-3" class="mr-1">mdi-exit-run</v-icon>
      Выход
    </v-btn>

    <v-btn icon @click="$auth.logout()" v-if="$auth.loggedIn && mobile">
      <v-icon color="deep-orange darken-3" class="mr-1">mdi-exit-run</v-icon>
    </v-btn>

    <v-btn text nuxt to="/register" v-if="!$auth.loggedIn && !mobile">
      <v-icon color="deep-orange darken-3" class="mr-1">mdi-account-plus</v-icon>
      Регистрация
    </v-btn>

    <v-btn icon nuxt to="/register" v-else-if="!$auth.loggedIn && mobile">
      <v-icon color="deep-orange darken-3" class="mr-1">mdi-account-plus</v-icon>
    </v-btn>

  </v-app-bar>
</template>


<script>
export default {
  data () {
    return {
      arrowsColor: 'deep-orange darken-1'
    }
  },
  methods: {
    addPlaceStep (step) {
      this.$store.commit("UI/setAddPlaceStepNumber", step);
    },
    setColor () {
      if (this.arrowsColor == 'deep-orange darken-1') {
        this.arrowsColor = 'deep-orange accent-2'
      } else {
        this.arrowsColor = 'deep-orange darken-1'
      }
    }
  },
  computed: {
    mobile() {
      if (this.$vuetify.breakpoint.mobile === true) {
        return true;
      } else {
        return false;
      }
    },
    addPlace () {  
      if ($nuxt.$route.path == '/add-place') {
        return true
      } else {
        return false
      }
    },
    placeDetail () {  
      if ($nuxt.$route.name == 'place-detail-id'){
        return true
      } else {
        return false
      }
    },
    arrowBlinks () {
      while (true) {
      }
    },
    step2 () {
      if (this.$store.getters['UI/addPlaceStepNumber'] == 2) {
        return true
      } else {
        return false
      }
    }
  },
  mounted () {
    setInterval(() => this.setColor(), 1000);
  }
};
</script>

<style>
#title {
    width: 100%;
}
.v-app-bar-title__content {
  width: auto;
}
#app-bar-title {
       text-decoration: none;
     color: inherit;
}
</style>