<template>
  <v-footer fixed app color="white">
    <v-col
      class="text-center"
      cols="12"
    >
      <span class="mr-5">Добавляйте или находите любимые места, оставляйте отзывы и оценки!</span>
      {{ new Date().getFullYear() }} — <strong>Где это место?</strong>
    </v-col>
  </v-footer>
</template>