<template>
  <l-map
    id="themap"
    :class="class_attr"
    :zoom="zoom"
    :center="center"
    @update:zoom="zoomUpdated"
    @update:center="centerUpdated"
    @update:bounds="boundsUpdated"
  >
  
    <l-tile-layer :url="url" ></l-tile-layer>

    <v-marker-cluster>
      <l-marker
        v-if="marker"
        ref="marker"
        draggable
        @dragend="onDragEnd"
        :latLng="center"
      ></l-marker>
      <l-marker
        v-for="marker in markersData"
        :key="marker.latLng[0]"
        :lat-lng="marker.latLng"
      >
        <l-popup v-if="!place">
          {{marker.description}}
          <hr id="popup-delimeter">
          <div id="popup-more">

            <v-rating
              class="mt-2"
              color="deep-orange darken-3"
              background-color="deep-orange darken-3"
              readonly
              half-increments
              dense
              length="5"
              size="18"
              :value="marker.average_rating"
              offset-xl5
            ></v-rating>

            <v-spacer></v-spacer>

            <v-btn icon nuxt :to="{name: 'place-detail-id', params: {id: marker.id} }"  >
              <v-icon color="deep-orange darken-3" >mdi-page-next-outline</v-icon>
            </v-btn>

          </div>
        </l-popup>
      </l-marker>
    </v-marker-cluster>
  </l-map>
</template>

<script>
import { LMap, LTileLayer, LGeoJson, LMarker, LControl, LPopup, LIcon } from "vue2-leaflet";
import Vue2LeafletMarkerCluster from "vue2-leaflet-markercluster";
import "leaflet/dist/images/marker-shadow.png";

export default {
  components: {
    LMap,
    LTileLayer,
    LGeoJson,
    LMarker,
    LPopup,
    "v-marker-cluster": Vue2LeafletMarkerCluster,
  },
  props: ["class_attr", "marker", "place", "custom_center"],
  data() {
    return {
      url: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
      zoom: 12,
      bounds: null,
      markersData: [],
      markerCoords: null,
    };
  },
  methods: {
    onDragEnd(event) {
      if (this.marker) {
        var coords = this.$refs.marker.mapObject.getLatLng();
        this.$store.commit("Map/set_marker_lat_lng", coords);
      } else {
        console.log("Error: NO MARKER");
      }
    },

    zoomUpdated(zoom) {
      this.zoom = zoom;
    },
    centerUpdated(center) {
      console.log('center ', center)
      this.center = center;
    },
    boundsUpdated(bounds) {
      this.bounds = bounds;
    },
    setPlaceDetailData(description, average_rating, photos) {
      this.$store.commit("Map/setPlaceDetailData", {description, average_rating, photos});
    },
    pushMarkers(element) {
      if (typeof element.avg_rating_point_data[0] !== 'undefined') {
        this.markersData.push({
          'id': element.id,
          latLng: [element.lat, element.lng],
          'description': element.description, 
          'average_rating': element.avg_rating_point_data['0'].average_rating
          });
      } else {
        this.markersData.push({
          'id': element.id, 
          latLng: [element.lat, element.lng], 
          'description': element.description, 
          'average_rating': 0
          });
      }
    },
    async getJsonData() {
      if (this.place) {
        var result = await this.$axios.get("/api/spatial?place_id=" + this.place);
        this.pushMarkers(result.data)
        this.setPlaceDetailData(result.data.description, this.markersData[0].average_rating, result.data.point_photo)
        this.centerUpdated({'lat': result.data.lat, 'lng': result.data.lng})
      } else {
        var result = await this.$axios.get("/api/spatial/");
        console.log("result", result)
        result.data.forEach((element) => {
          this.pushMarkers(element)
          
        });
      }
    },
  },
  computed: {
    center: {
      get() {
        return this.$store.state.Map.map_center;
      },
      set(coords) {
        this.$store.commit("Map/set_map_center", coords);
      },
    },
  },
  beforeMount() {
    if (!this.marker) {
      this.getJsonData();
    }
  },
  mounted() {
    if (this.marker) {
      this.$store.commit("Map/set_marker_lat_lng", this.center);
    }
    delete L.Icon.Default.prototype._getIconUrl;
    L.Icon.Default.mergeOptions({
      iconRetinaUrl: require("leaflet/dist/images/marker-icon-2x.png"),
      iconUrl: require("leaflet/dist/images/marker-icon.png"),
      shadowUrl: require("leaflet/dist/images/marker-shadow.png")
});
  },
};
</script>


<style>
  #popup-delimeter {
    margin: 1% 0 1% 0;
    color: #d84315 !important;
    border: thin dashed;
  }

  #popup-more {
    display: flex;
  }
</style>