<template>
  <div class="pt-0 ml-2">
    <v-card>
      <v-tabs
        background-color="deep-orange darken-3"
        centered
        dark
        show-arrows
        icons-and-text
      >
        <v-tabs-slider></v-tabs-slider>

        <v-tab>
          Описание
          <v-icon>mdi-information</v-icon>
        </v-tab>

        <v-tab>
          Отзывы
          <v-icon>mdi-comment-text-multiple</v-icon>
        </v-tab>

        <v-tab>
          Оставить отзыв
          <v-icon>mdi-comment-plus</v-icon>
        </v-tab>

        <v-tab-item>
          <v-card flat>
            <v-card-text>
              <div class="d-flex mb-3" id="rating-block">
                <label
                  for="place-rating"
                  class="v-label v-label--active theme--light"
                  >Рейтинг:
                </label>
                <v-rating
                  id="place-rating"
                  color="deep-orange darken-3"
                  background-color="deep-orange darken-3"
                  half-increments
                  length="5"
                  size="30"
                  :value="averageRating"
                  readonly
                ></v-rating>
              </div>
              <v-textarea
                outlined
                name="place-description"
                label="Описание"
                :value="description"
                readonly
              ></v-textarea>

                   <a :href="image.image_url" v-for="image in getPlacePhotos" 
                    :key="image">
                    <v-img
                    class="thumbnails mr-2"
                    height="50"
                    width="50"

                    :src="image.thumbnail_url"
                    ></v-img>
                    </a>
              
            </v-card-text>
          </v-card>
        </v-tab-item>

        <v-tab-item>
          <v-card flat>
            <v-card-text v-if="ifComments">
                <v-list three-line class="overflow-y-auto">
                  <v-list-item 
                  v-for="item in comments"
                  :key="item">
                    <v-list-item-avatar>
                      <!-- <v-img :src="item.id"></v-img> -->
                      <v-icon>mdi-account-cowboy-hat</v-icon>
                    </v-list-item-avatar>
                    <v-list-item-content>
                      <v-list-item-title>
                        <v-rating
                          id="place-rating"
                          color="deep-orange darken-3"
                          background-color="deep-orange darken-3"
                          length="5"
                          size="15"
                          :value="item.user_rating"
                          readonly
                        ></v-rating>
                      </v-list-item-title>
                      <v-list-item-subtitle>
                        {{ item.comment }}
                      </v-list-item-subtitle>
                    </v-list-item-content>

                  <v-list-item-action class="thumbnails">
                    <a :href="image.image_url" v-for="image in item.user_photos" 
                    :key="image">
                    <v-img
                    class="thumbnails mr-2"
                    height="50"
                    width="50"

                    :src="image.thumbnail_url"
                    ></v-img>
                    </a>
                  </v-list-item-action>
                  </v-list-item>
                </v-list>
                  <v-divider></v-divider>
              <v-pagination
                :length="totalPages"
                v-model="page"
                @input="goToPage"
                @next="goToNextPage"
                @previous="goToPreviousPage"
              ></v-pagination>
            </v-card-text>
            <v-card-text v-else class="text-center">
              <p>Пока нету ни одного отзыва</p>
            </v-card-text>
          </v-card>
        </v-tab-item>

        <v-tab-item>
          <v-card flat>
            <v-card-text>
              <AddComment v-if="$auth.loggedIn"/>
              <p class="text-center" v-else>Для отправки отзыва, нужно 
                <nuxt-link to="/login">авторизироваться</nuxt-link>.
              </p>
            </v-card-text>
          </v-card>
        </v-tab-item>

      </v-tabs>
    </v-card>
</div>
</template>


<script>
import Map from './Map.vue';
export default {
  props: ['place'],
  data() {
    return {
      comments: [],
      nextCommentsUrl: null,
      previousCommentsUrl: null,
      totalPages: 0,
      availablePages: [],
      page: 1,
      tab: null,
    };
  },
  methods: {
    async fetchComments(urlToGo) {
      var result = await this.$axios.get(urlToGo);
      if (result.data.next) {
        this.nextCommentsUrl = result.data.next;
      }
      if (result.data.previous) {
        this.previousCommentsUrl = result.data.previous;
      }
      this.totalPages = result.data.total_pages;
      this.availablePages = result.data.pages;
      this.comments = [];
      result.data.results.forEach((element) => {
        this.comments.push(element);
      });
    },
    goToPage(number) {
      let pageNum = number - 1;
      this.fetchComments(this.availablePages[pageNum]);
    },
    goToNextPage() {
      this.fetchComments(this.nextCommentsUrl);
    },
    goToPreviousPage() {
      this.fetchComments(this.previousCommentsUrl);
    },
  },
  computed: {
    description() {
      return this.$store.state.Map.placeDetailDescription;
    },
    averageRating() {
      return this.$store.state.Map.placeAverageRating;
    },
    getComments() {
      return this.comments;
    },
    getPlacePhotos() {
      return this.$store.state.Map.placeDetailPhotos;
    },
    ifComments() {
      if (this.comments.length > 0) {
        return true
      } else {
        return false
      }
    }
  },
  beforeMount() {
    this.fetchComments("/api/comments/" + this.$store.getters["Map/getCurrentPlaceId"]);
  },
};
</script>


<style>
#rating-block {
  align-items: center;
}

.thumbnails {
  display: inline-block;
}
</style>