<template>
  <div class="mt-3">
    <file-pond
      name="filepond"
      ref="pond"
      label-idle="Можете прикрепить до 3 фотографий перетащив их сюда..."
      labelFileProcessing='Загрузка'
      labelTapToCancel='Нажмите для отмены'
      labelTapToRetry='Нажмите для повтора'
      labelTapToUndo='Нажмите для отмены'
      labelFileProcessingComplete='Загрузка завершена'
      labelFileProcessingAborted='Загрузка отменена'
      allowMultiple="true"
      accepted-file-types="image/jpeg, image/png"
      :server='server'
      v-on:init="handleFilePondInit"
      v-on:processfiles="handleFilePondProcessFiles"
      v-on:processfileprogress="handleFilePondProcessFilesProgress"
      v-on:addfilestart="handleaddfilestart"
      maxFiles=3
    />
  </div>
</template>

<script>
// Import Vue FilePond
import vueFilePond from "vue-filepond";

// Import FilePond styles
import "filepond/dist/filepond.min.css";

// Import FilePond plugins
// Please note that you need to install these plugins separately

// Import image preview plugin styles
import "filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css";

// Import image preview and file type validation plugins
import FilePondPluginFileValidateType from "filepond-plugin-file-validate-type";
import FilePondPluginImagePreview from "filepond-plugin-image-preview";

// Create component
const FilePond = vueFilePond(
  FilePondPluginFileValidateType,
  FilePondPluginImagePreview
);

export default {
  name: "app",
  data: function () {
    return { 
        server: {
            url: this.$axios.defaults.baseURL + '/fp',
            process: '/process/',
            patch: '/patch/',
            revert: '/revert/',
            fetch: '/fetch/?target=',
            load: '/load/'
        },
        tmpUploadedFilesIds: new Set(),

    };
  },
  methods: {
    handleFilePondInit: function () {
    },    
    handleFilePondProcessFiles: function () {
      let files = this.$refs.pond.getFiles()
      files.forEach(element => {
          this.tmpUploadedFilesIds.add(element.serverId)
      });

      this.$emit('SetUploadState', true)
      this.$emit('UploadedFiles', this.tmpUploadedFilesIds)
    },
    handleFilePondProcessFilesProgress () {
        this.$emit('SetUploadState', false)
    },
    handleaddfilestart() {
        this.$emit('SetUploadState', false)
    }
  },
  components: {
    FilePond,
  },
};
</script>
