<template>
  <v-form v-on:submit.prevent>
    <v-text-field
      v-model="userInfo.first_name"
      label="Имя"
      v-if="register && !resetPassword"
      error-messages
    />

    <v-text-field v-model="userInfo.email" label="e-mail" :rules="emailRules" v-if="!resetPasswordConf" />

    <v-text-field
      v-if="!resetPassword"
      v-model="userInfo.password"
      label="Пароль"
      :type="showPassword ? 'text' : 'password'"
      :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
      @click:append="showPassword = !showPassword"
      counter="true"
      :rules="[v => !!v || 'Это поле обязательно']"
    />
    <v-text-field
      v-if="register && !resetPassword || resetPasswordConf"
      v-model="userInfo.passwordRepeat"
      label="Повторите пароль"
      :type="showPassword ? 'text' : 'password'"
      :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
      @click:append="showPassword = !showPassword"
      counter="true"
      :rules="[(userInfo.password === userInfo.passwordRepeat) || 'Пароль должен совпадать']"
    />

    <div id="buttons" class="mt-4">
    <v-btn @click="$emit('submit-form', userInfo)">{{ buttonText }}</v-btn>
    
    <v-btn nuxt to="ResetPassword" v-if="!register && !resetPassword && !resetPasswordConf">Восстановить пароль</v-btn>
    </div>
  </v-form>
</template>

<script>
export default {
  data() {
    return {
      showPassword: false,
      emailRules: [
        (v) => !!v || "Это поле обязательно",
        (v) => /.+@.+/.test(v) || "почта указана неверно",
      ],
      userInfo: {
        first_name: "",
        email: "",
        password: "",
        passwordRepeat: "",
      },
    };
  },
  props: ["buttonText", "register", "resetPassword", "resetPasswordConf"],
};
</script>

<style scoped>
#buttons {
  display: flex;
  justify-content: space-between;
}
</style>