#themap {
    position: fixed;
    margin: 0;
}

.w-50{
    width: 50% !important;
    margin-left: 0;
}

.h-50 {
    height: 50% !important;
}

.m-0 {
    margin: 0;
}

.mt-0 {
    margin-top: 0;
}

.mt-1 {
    margin-top: 1;
}

.mt-2 {
    margin-top: 2;
}

.mt-3 {
    margin-top: 3;
}

.mr-5 {
    margin-right: 5;
}

.p-0 {
    padding: 0 !important;
}

.pt-0 {
    padding-top: 0 !important;
}