<template>
  <v-col class="text-center">
    <div id="alert">
      <v-alert v-if="msg" type="warning" width="50%">{{ msgText }}</v-alert>
    </div>
    <h3>Для активации аккаунта нажмите "активировать"</h3>
    <br />
    <v-btn @click="activate">Активировать</v-btn>
  </v-col>
</template>

<script>
export default {
  async asyncData({ params }) {
    const uid = params.uid;
    const token = params.token;
    return { uid, token };
  },
  data() {
    return {
      msg: false,
      msgText: "",
    };
  },
  methods: {
    async activate() {
      await this.$axios
        .post(
          this.$axios.defaults.baseURL + "/auth/users/activation/",
          this.activateData
        )
        .then((response) => {
          this.msg = true;
          this.msgText = "Учётная запись успешно активированна";
          setTimeout(() => {
            this.$router.push("/");
          }, 1500);
        })
        .catch(({ response }) => {
          if (response.status == 403) {
            this.msg = true;
            this.msgText = "Учётная запись уже активированна";
          } else {
            this.msg = true;
            this.msgText =
              "Произошла ошибка, попробуйте обновить страницу и повторить ещё раз.";
          }
        });
    },
  },
  computed: {
    activateData() {
      return {
        uid: this.uid,
        token: this.token,
      };
    },
  },
};
</script>

<style >
#alert {
  display: flex;
  justify-content: center;
}
</style>