<template>
    <v-container fluid>
      <v-row>
        <v-col class="px-0">
          <Map></Map>
        </v-col>
      </v-row>
      <Footer/>
    </v-container>
</template>

<script>
import AppBar from '~/components/AppBar.vue'
export default {
  components: { AppBar },}
</script>

<style>

</style>
