<template>
  <v-container>
    <v-row>
      <v-col
        xs="12"
        sm="12"
        md="6"
        offset-md="3"
        lg="6"
        offset-lg="3"
        xl="4"
        offset-xl="3"
      >
        <h1 class="mb-6">Авторизация</h1>

        <v-alert v-if="error" type="error">Произошла ошибка</v-alert>

        <UserAuthForm buttonText="Войти" @submit-form="loginUser" />
      </v-col>
    </v-row>
  </v-container>
</template>


<script>
export default {
  data() {
    return {
      error: false,
    };
  },
  methods: {
    async loginUser(loginInfo) {
      await this.$auth
        .loginWith("local", { data: loginInfo })
        .then((response) => {
          this.$router.push("/");
        })
        .catch((response) => {
          this.error = true;
        });
    },
  },
};
</script>