<template>
  <v-container>
    <v-row>
      <v-col xs="12" sm="12" md="6" offset-md="3" lg="6" offset-lg="3" xl="4" offset-xl="3">
        <h1 class="mb-6">Регистрация</h1>

        <div id="alert">
            <v-alert v-if="msg" :type="msgType" >{{ msgText }}</v-alert>
        </div>
        <div id="error" v-if="msg">
            <v-alert type="error" v-for="error in errors" :key="error">{{ error }}</v-alert>
        </div>

        <UserAuthForm buttonText="Зарегистрироваться" @submit-form="registerUser" register="true" />
      </v-col>
    </v-row>
  </v-container>
</template>


<script>
export default {
  data() {
    return {
      error: false,
      msg: false,
      msgText: "",
      msgType: "warning",
      errors: []
    };
  },
  methods: {
    async registerUser(registrationInfo) {
      this.errors = []
      await this.$axios
        .post("/auth/users/", registrationInfo)
        .then((response) => {
          this.msg = true;
          this.msgText = "Учетная запись успешно создано, для активации перейдите в почту и следуйте инструкциям";
          this.msgType = "success"
        })
        .catch(({ response }) => {
          this.msgText ="Произошла ошибка, попробуйте обновить страницу и повторить ещё раз.";
          if (response.data.hasOwnProperty('email')) {
            console.log(response.data.email)
            response.data.email.forEach((value) => {
              this.errors.push(value)
            })
          } else if (response.data.hasOwnProperty('password')) {
            response.data.password.forEach((value) => {
              this.errors.push(value)
            })
          }
          this.msg = true;


        });
    },
  },
};
</script>