<template>
  <v-container>
    <v-row>
      <v-col
        xs="12"
        sm="12"
        md="6"
        offset-md="3"
        lg="6"
        offset-lg="3"
        xl="4"
        offset-xl="3"
      >
        <h1 class="mb-6">Сброс пароля</h1>

        <div id="alert">
            <v-alert v-if="msg" :type="msgType" >{{ msgText }}</v-alert>
        </div>

        <UserAuthForm
          buttonText="Сбросить"
          resetPassword="true"
          @submit-form="resetPassword"
        />
      </v-col>
    </v-row>
  </v-container>
</template>


<script>
export default {
  data() {
    return {
      error: false,
      msg: false,
      msgText: "",
      msgType: "warning"
    };
  },
  methods: {
    async resetPassword(loginInfo) {
      await this.$axios
        .post(this.$axios.defaults.baseURL + "/auth/users/reset_password/", {
          email: loginInfo.email,
        })
        .then((response) => {
          this.msg = true;
          this.msgText = "Инструкция по сбросу пароля успешно отправлена на почту";
          this.msgType = "success"
        })
        .catch(({ response }) => {
          if (response.status == 400) {
            this.msg = true;
            this.msgText = "Учётная запись с таким email не найдена";
          } else {
            this.msg = true;
            this.msgText =
              "Произошла ошибка, попробуйте обновить страницу и повторить ещё раз.";
          }
        });
    },
  },
};
</script>