<template>
  <v-container>
    <v-row>
      <v-col
        xs="12"
        sm="12"
        md="6"
        offset-md="3"
        lg="6"
        offset-lg="3"
        xl="4"
        offset-xl="3"
      >
        <h1 class="mb-6">Задайте новый пароль</h1>

        <v-alert v-if="msg" :type="msgType">{{ msgText }}</v-alert>

        <UserAuthForm
          buttonText="Задать"
          @submit-form="setNewPassword"
          resetPasswordConf="true"
        />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  async asyncData({ params }) {
    const uid = params.uid;
    const token = params.token;
    return { uid, token };
  },
  data() {
    return {
      msg: false,
      msgText: "",
      msgType: "warning",
    };
  },
  methods: {
    async setNewPassword(newPasswords) {
      console;
      await this.$axios
        .post(
          this.$axios.defaults.baseURL + "/auth/users/reset_password_confirm/",
          {
            uid: this.uid,
            token: this.token,
            new_password: newPasswords.password,
            re_new_password: newPasswords.passwordRepeat,
          }
        )
        .then((response) => {
          this.msg = true;
          this.msgType = "success";
          this.msgText = "Новый пароль успешно установлен";
          setTimeout(() => {
            this.$router.push("/");
          }, 1500);
        })
        .catch(({ response }) => {
          this.msg = true;
          this.msgText =
            "Произошла ошибка, попробуйте обновить страницу и повторить ещё раз.";
        });
    },
  },
};
</script>

<style >
#alert {
  display: flex;
  justify-content: center;
}
</style>