<template>
  <v-container fluid v-if="mobile">
    <v-row>
      <v-col class="p-0">
        <PlaceDescription v-if="step == 1" />
        <Map :place="place_id" v-else/>
      </v-col>
    </v-row>
    <Footer />
  </v-container>

  <v-container fluid v-else>
    <v-row>
      <v-col class="px-0">
        <Map class_attr="w-50" :place="place_id" />
      </v-col>
      <v-col>
        <PlaceDescription />
      </v-col>
    </v-row>
    <Footer />
  </v-container>
</template>


<script>
export default {
  async asyncData({ params }) {
    const place_id = params.id;
    return { place_id };
  },
  computed: {
    mobile() {
      if (this.$vuetify.breakpoint.mobile === true) {
        return true;
      } else {
        return false;
      }
    },
    step() {
      return this.$store.getters["UI/addPlaceStepNumber"];
    },
  },
  beforeCreate() {
    this.$store.commit("UI/setAddPlaceStepNumber", 1);
    this.$store.commit("Map/setCurrentPlaceId", this.$route.params.id);
  },
};
</script>